/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sigmar&display=swap');

.quote-container {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Honk", serif;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-stretch: normal;
}


picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
}

span {
    text-transform: capitalize;
}

.btn .container .header {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid plum;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    font-size: 5vw;
}





/* Media Query */
/* Small Screens */
@media screen and (min-width: 300px) {
    picture .img-center {

        width: 100%;
        max-height: 165px;
    }

    .img-center .btn {
        justify-content: center;
    }

    /* Medium Screens */
}

@media screen and (min-width: 500px) {
    picture .img-center {

        width: 100%;
        max-height: 285px;
    }

    /* Large Screens */
}

@media screen and (min-width: 800px) {
    picture .img-center {

        width: 100%;
        max-height: 390px;
    }
}

/* Extra Large Screens makes transition to 1200px smoother */
@media screen and (min-width: 1140px) {

    picture .img-center {

        width: 940px;
        max-height: 530px;
    }
}

/* Extra Large Screens */
@media screen and (min-width: 1200px) {

    picture .img-center {
        width: 580px;
        max-height: 285px;
    }
}