/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Open-sans", sans-serif;
    --secondary-font: "Montserrat", Sans;
    --primary-color: #ff9100b0;
    /* yellow orange */

    /* --secondary-color: ;*/
    --secondary-color: #a878a8d5;
    --highlight-color: #eec5c2;
    --highlight-color-light: #eb526c;


}

body {
    background-image: href="https://github.com/jammy-8/Star-Fortune/blob/2451b28c8e6444ce24e54629f028d77011889555/assets/images/BG-IMG-star-fortune/android-chrome-512x512.png";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

body {
    font-family: "Honk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}



span {
    text-transform: capitalize;
}

.quote-container {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}

.btn .container .header {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid plum;
}